<!-- Modal Wrapper -->
<ion-modal-view>

  <!-- Header Bar -->
  <ion-header-bar class="bar-assertive">

    <!-- Title -->
    <h1 class="title">New Recipe</h1>

    <!-- Cancel Button -->
    <button class="button button-clear button-primary" ng-click="recipes.modal.remove(); recipes.newPhoto = null">Cancel</button>
  </ion-header-bar>

  <!-- Content Wrapper -->
  <ion-content>

    <!-- Meta Information -->
    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="">
        <h2>{{recipes.author}}</h2>
        <p>current</p>
      </div>

      <!-- Scanned Document -->
      <div ng-if="recipes.newPhoto" class="item item-image">
        <img ng-src="data:image/jpeg;base64,{{recipes.newPhoto}}">
      </div>

      <!-- Tags -->
      <p class="item">
        <input ng-model="recipes.tags" type="text" placeholder="tag1 tag2 tag3">
      </p>
    </div>

    <!-- Photo Buttons -->
    <div class="padding button-bar bar-stable">
      <a class="button" ng-click="recipes.takePhoto()">New Photo</a>
      <a class="button" ng-click="recipes.selectPhoto()">Existing Photo</a>
    </div>

    <!-- Save Button -->
    <div class="padding">
      <button class="button button-block button-assertive" ng-click="recipes.upload()">Save</button>
    </div>
  </ion-content>
</ion-modal-view>
